html,body,div,h1,h2,h3,h4,h5,h6,p,span{
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body{
	background: url('../images/Pirates.jpg') no-repeat;
	background-size:cover;
	padding-top: 10px;
	overflow: auto;
	min-width: 420px;
	height: 100vh;
}
#nicknameInput{
	margin-top: 10px;
}
#loginBtn{
	margin-top: 10px;
}

.chat-container{
	position: relative;
	margin-top: 30px;
	background-color: rgba(33, 20, 20, 0.5)
}

.banner{
	border: 1px solid black;
	height: 80px;
	color: white;
}

.historyMsg{
	border: 1px solid black;
	border-radius: 10px;
	height: 400px;
	padding: 5px;
	position: relative;
	overflow: auto;
}
.historyMsg::-webkit-scrollbar {/*滚动条整体样式*/
        width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
        height: 1px;
    }
.historyMsg::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
        border-radius: 10px;
         -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        background: #535353;
    }
.historyMsg::-webkit-scrollbar-track {/*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 10px;
        background: #9e9e9e;
    }
.historyMsg img{
	width: auto;
	height: auto;
	max-width: 60%;
}
.imageLable {
	text-align: center;
    width: 60px;
    background-color: #9E9E9E;
    cursor: pointer;
    margin: 5px auto;
}
#selectImage {
    display: none;
}
.newMsg{
	text-align: left;
	margin-top: 5px;
	padding-left: 10px;
	color: #04ca0c;
}
.newMsg .timespan::after{
	content: '：';
}

.nickname{
	font-weight: bold;
}

.timespan{
	color: #ddd;
}

.myMsg{
	text-align: right;
	margin-top: 5px;
	padding-right: 10px;
	color: #04ca0c;
}
.myMsg .timespan::before{
	content: '：';
}
/*系统消息*/
.system{
	text-align: center;
	background-color: #9e9e9e;
	color: white;
	border-radius: 5px;
	opacity: 0.8;
	margin: 5px 10px;
}

.control{
	border: 1px solid black;
	height: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 25px;
}


.inputMsg{
	height: 50px !important;
	resize: none;
}

.sendBtn{
	height: 50px;
}

footer{
	text-align: center;
}

.loginWrapper{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	display: block;
	background-color: rgba(5,5,5,0.5);
	padding-top: 200px;
	z-index: 3;
}

.info{
	color: white;
	font-size: 20px;
}

.nickWrapper{
	display: none;
}
#emojiWrapper {
	display: none;
	position: absolute;
	width: 300px;
	top: 32px;
	background-color: #aaa;
	box-shadow: 0 0 10px #555;
	z-index: 2;
}

#emojiWrapper img {
	margin: 2px;
	padding: 2px;
	width: 25px;
	height: 25px;
}

#emojiWrapper img:hover {
	background-color: blue;
}

#emoji {
	text-align: center;
	width: 40px;
	height: 20px;
	background-color: #9e9e9e;
	border: 0px;
	padding: 0px;
	margin:5px auto;
	font-weight: bold;
}
.emoji{
	display: inline;
}
/* Tablets: 768px */
@media screen and (max-width: 760px){

	.historyMsg{
		font-size: 10px;
		border: 0px;
		height: 330px;
		padding: 5px;
		position: relative;
		overflow: auto;
	}

	.banner{
		border: 0px;
		border-bottom: 1px solid gray;
	}

	.inputMsg{
		margin-bottom: 2px;
	}

	.control{
		position: relative;
		border: 0px;
	}

	footer{
		font-size: 15px;
	}
}