<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>见闻app下载页</title>
  <script>
     //ua && href
    var href
    var ua = navigator.userAgent.toLowerCase()
    if (ua.indexOf('android') === -1 && ua.indexOf('iphone') === -1) {
      document.write('<!--')
      window.location.replace('./index.html')
    }
  </script>
</head>

<body>
  <div class="mobile-swiper-container swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide section section1">
        <div class="section-header">
          <a class="section-header-home-link" href="https://wallstreetcn.com">
            <img src="<%- require('./images/logo.png') %>" alt="" class="section-header-img">
          </a>
          <a href="" class="section-header-download-link">下载APP</a>
        </div>
        <img src="<%- require('./images/lwz7.png') %>" alt="" class="section1-lg">
        <img src="<%- require('./images/swz1.png') %>" alt="" class="section1-sm">
        <div class="section1-bottom">
          <img src="<%- require('./images/phone1.png') %>" alt="" class="section1-phone">
          <div class="section1-bottom-wz-content">
            <img src="<%- require('./images/6.0.png') %>" alt="" class="section1-img6">
            <img src="<%- require('./images/arrow1.png') %>" alt="" class="section1-arrow">
            <span class="section1-arrow-wz">向下滚动</span>
          </div>
        </div>
      </div>

      <div class="swiper-slide section section2">
        <div class="section-header">
          <a class="section-header-home-link" href="https://wallstreetcn.com">
            <img src="<%- require('./images/logo.png') %>" alt="" class="section-header-img">
          </a>
          <a href="" class="section-header-download-link">下载APP</a>
        </div>

        <div class="section-wz-content">
          <div class="section-wz-left">
            <img src="<%- require('./images/lwz2.png') %>" alt="" class="section-lg">
            <img src="<%- require('./images/swz2.png') %>" alt="" class="section-sm">
          </div>
          <img src="<%- require('./images/num1.png') %>" alt="" class="section-wz-right">
        </div>
        <div class="section-page-content">
          <img src="<%- require('./images/phone2.png') %>" alt="" class="section-phone">
          <img src="<%- require('./images/point-line1.png') %>" alt="" class="point-line">
          <img src="<%- require('./images/point1.png') %>" alt="" class="section-point point1">
        </div>
      </div>

      <div class="swiper-slide section section3">
        <div class="section-header">
          <a class="section-header-home-link" href="https://wallstreetcn.com">
            <img src="<%- require('./images/logo.png') %>" alt="" class="section-header-img">
          </a>
          <a href="" class="section-header-download-link section-header-download-link-w">下载APP</a>
        </div>

        <div class="section-wz-content">
          <div class="section-wz-left">
            <img src="<%- require('./images/lwz3.png') %>" alt="" class="section-lg">
            <img src="<%- require('./images/swz3.png') %>" alt="" class="section-sm">
          </div>
          <img src="<%- require('./images/num2.png') %>" alt="" class="section-wz-right">
        </div>

        <div class="section-page-content">
          <img src="<%- require('./images/phone3.png') %>" alt="" class="section-phone">
          <img src="<%- require('./images/point-line2.png') %>" alt="" class="point-line">
          <img src="<%- require('./images/point2.png') %>" alt="" class="section-point point2">
        </div>
      </div>

      <div class="swiper-slide section section4">
        <div class="section-header">
          <a class="section-header-home-link" href="https://wallstreetcn.com">
            <img src="<%- require('./images/logo.png') %>" alt="" class="section-header-img">
          </a>
          <a href="" class="section-header-download-link">下载APP</a>
        </div>

        <div class="section-wz-content">
          <div class="section-wz-left">
            <img src="<%- require('./images/lwz4.png') %>" alt="" class="section-lg">
            <img src="<%- require('./images/swz4.png') %>" alt="" class="section-sm">
          </div>
          <img src="<%- require('./images/num3.png') %>" alt="" class="section-wz-right">
        </div>

        <div class="section-page-content">
          <img src="<%- require('./images/phone4.png') %>" alt="" class="section-phone">
          <img src="<%- require('./images/point-line3.png') %>" alt="" class="point-line">
          <img src="<%- require('./images/point3.png') %>" alt="" class="section-point point3">
        </div>
      </div>

      <div class="swiper-slide section section5">
        <div class="section-header">
          <a class="section-header-home-link" href="https://wallstreetcn.com">
            <img src="<%- require('./images/logo.png') %>" alt="" class="section-header-img">
          </a>
          <a href="" class="section-header-download-link section-header-download-link-w">下载APP</a>
        </div>

        <div class="section-wz-content">
          <div class="section-wz-left">
            <img src="<%- require('./images/lwz5.png') %>" alt="" class="section-lg">
            <img src="<%- require('./images/swz5.png') %>" alt="" class="section-sm">
          </div>
          <img src="<%- require('./images/num4.png') %>" alt="" class="section-wz-right">
        </div>

        <div class="section-page-content">
          <img src="<%- require('./images/phone5.png') %>" alt="" class="section-phone">
          <img src="<%- require('./images/point-line4.png') %>" alt="" class="point-line">
          <img src="<%- require('./images/point4.png') %>" alt="" class="section-point point4">
        </div>
      </div>

      <div class="swiper-slide section section6">
        <div class="section-header">
          <a class="section-header-home-link" href="https://wallstreetcn.com">
            <img src="<%- require('./images/logo.png') %>" alt="" class="section-header-img">
          </a>
          <a href="" class="section-header-download-link">下载APP</a>
        </div>

        <div class="section-wz-content">
          <div class="section-wz-left">
            <img src="<%- require('./images/lwz6.png') %>" alt="" class="section-lg">
            <img src="<%- require('./images/swz6.png') %>" alt="" class="section-sm">
          </div>
          <img src="<%- require('./images/num5.png') %>" alt="" class="section-wz-right">
        </div>

        <div class="section-page-content">
          <img src="<%- require('./images/phone6.png') %>" alt="" class="section-phone">
          <img src="<%- require('./images/point-line5.png') %>" alt="" class="point-line">
          <img src="<%- require('./images/point5.png') %>" alt="" class="section-point point5">
        </div>
      </div>

      <div class="swiper-slide section section-last">
        <div class="section-header">
          <a class="section-header-home-link" href="https://wallstreetcn.com">
            <img src="<%- require('./images/logo.png') %>" alt="" class="section-header-img">
          </a>
        </div>
        <img src="<%- require('./images/lwz7.png') %>" alt="" class="section-last-lg">
        <img src="<%- require('./images/swz7.png') %>" alt="" class="section-last-sm">
        <a href="" class="ios-btn download-img-btn">
          <img src="<%- require('./images/ios.png') %>" alt="" class="section-last-ios">
        </a>
        <a href="" class="andriod-btn download-img-btn">
          <img src="<%- require('./images/andriod.png') %>" alt="" class="section-last-andriod">
        </a>

        <img src="<%- require('./images/qrcode.png') %>" alt="" class="qrcode-img">
      </div>
    </div>
  </div>
</body>

</html>
